:root {
  /* Light theme colors */
  --primary-color: #1976d2;
  --secondary-color: #ff7043;
  --error-color: #d32f2f;
  --warning-color: #ffa000;
  --info-color: #0288d1;
  --success-color: #388e3c;
  --background-default: #fafafa;
  --background-paper: #ffffff;
  --text-primary: #333333;
  --inverse-text-primary: #ffffff;
  --text-secondary: #c3c3c3;
  --inverse-text-secondary: #c3c3c3;
  --divider: #e0e0e0;
  --topbar-background: #fafafa;
}

[data-theme='dark'] {
  /* Dark theme colors */
  --primary-color: #90caf9;
  --secondary-color: #ffab91;
  --error-color: #ef5350;
  --warning-color: #ffca28;
  --info-color: #29b6f6;
  --success-color: #66bb6a;
  --background-default: #121212;
  --background-paper: #1e1e1e;
  --text-primary: #ffffff;
  --inverse-text-primary: black;
  --text-secondary: #bdbdbd;
  --inverse-text-secondary: #595959;
  --divider: #424242;
  --topbar-background: #121212;
}

body {
  background-color: var(--background-default);
}
